{% extends 'base.html' %}
    {% load static %}

    {% block css_files %}
            <link rel="stylesheet" href="{% static 'blog.styles.css' %}" />
            <link rel="stylesheet" href="{% static 'post-details.css' %}" />
    {% endblock %}

    {% block content %}
    {% include "partials/navbar.html" %}

        <section id="summary">
            <h2>{{post_details.title |title }}</h2>
            <article class="">
                <img src="{% static 'images/masse.jpg' %}" alt="post image" class="">
                <address>by {{ post_details.author }}</address>
                <div class="">
                Last updated on <time>{{ post_details.pub_date|date }}</time>
                </div>
            </article>
        </section>
    <main>
    <p>{{post_details.content}}</p>
    
        <div class='tags'>
            {% for tag in post_tags %}
               <span>#{{tag.caption}}</span>
            {% endfor %}
        </div>
    </main>



    {% endblock %}